<!DOCTYPE html>
<html>
  <head>
    <title>Auto Grading System</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Assignment List</h1>

    <% if(userInformation){ %>
 <input type="button" value="login" onClick="self.location='/login';">
     <% } else{ %>
     <input type="button" value="logout" onClick="self.location='/logout';">
    <% } %>

      <!-- <input type="button" value="login" onClick="self.location='/login';"> -->
    <hr>
    <h3>Total : <%=list.length %></h3>
    <table>
      <tr>
        <th>
          과제
        </th>
        <th>
          제목
        </th>
      </tr>
      <% for(var i=0; i<list.length; i++) {%>
        <tr>
          <td>
            #<%=i%>
          </td>
          <td>
            <a href=<%= list[i]['title'] %>><%= list[i]['title'] %></a>
          </td>
        </tr>
        <% } %>
    </table>
    <form action="./" method="post">
      <input type="submit" value="과제 등록">
    </form>
  </body>
</html>
