<!DOCTYPE html>
<html>
  <head>
    <title>ERROR PAGE</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Error Page</h1>
    <hr>
    <h1><%= message %></h1>
    <h1><%= error.status %></h1>
    <h1><%= error.stack %></h1>
  </body>
</html>
