<!DOCTYPE html>
<html>
  <head>
    <title>LIST PAGE</title>
    <link rel="shortcut icon" href="#">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
    <h1>AUTO GRADING SYSTEM</h1>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="#">Q&A</a></li>
            <li>
              <% if(userInformation){ %>
                <li><a href="/login">Login</a></li>
             <!-- <input type="button" value="login" onClick="self.location='/login';"> -->
              <% } else{ %>
              <!-- <input type="button" value="logout" onClick="self.location='/logout';"> -->
                <li><a href="/logout">Logout</a></li>
              <% } %>
            </li>
        </ul>
  </nav>
  </header>
  <article>
    <h1>List Page</h1>
    <hr>

    <h3>Total : <%=list.length %></h3>
    <table>
      <% for(var i=0; i<list.length; i++) {%>
        <tr>
          <li>
            <a href="report/a?title=<%=title%>&idx=<%=list[i]%>"><%= list[i] %></a>
          </li>
        </tr>
        <% } %>
    </table>
  </article>
  <footer>
    <div id="center_footer">
 <div id="left_footer"><b>Find Us On</b>
 <ul>
   <li> <a href=“#”><image src='../../images/youtube.png'/></a> </li>
   </ul>
 </div>
 <div id="right_footer">
     <a href=“/”>HOME</a>
     <a href=“#”>Q&A</a>
     <a href=“#”>SERVICES</a>
     <a href=“#”>PARTNERS</a>
     <a href=“#”>CONTACT US</a>
 </div>
 <span>© Your Website Name 20117</span>
  </footer>
  </body>
</html>
